
p {
	color: navy;
}

p.info {
	font-size: small;
	
	background-color: #dfdfdf;
}

h1 {
	text-shadow: navy 1px 0 10px;
    color: white;
}

h2 {
	border: solid 1px #ffefaf;
	margin: 5px;
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(to right, white,  #ffefaf 70%);
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 200px;
	grid-gap: 10px;
	flex-direction: row;
	padding: 5px;
	width: 1024px;
}

img.sign {
	float: right;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}
